*{
    margin: 0;
    padding: 0;
}
.aula{
    text-align: center;
    margin-top: 200px;
    color:white;
    border: solid 2px blueviolet;
    background-color: blueviolet;
    border-radius: 5% ;
}